<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
  </body>
  <script>

    document.addEventListener("DOMContentLoaded", function(e) {


var thewidth=window.innerWidth;
var theheight=window.innerHeight;

var svgContainer = d3.select("body").append("svg")
                                    .attr("width", thewidth)
                                    .attr("height", theheight)
                                    .style("border", "1px solid black");

// x, y, z
var points = [
    [thewidth / 2, theheight, 0],
    [thewidth,0, 0],
    [0,0,0]
];

// indices for the two points, then indices of the two lines that split this one, then index of that midpoint, then "is edge"
var lines = [
    [0,1,-1,-1, true],
    [1,2,-1,-1, true],
    [2,0,-1,-1, true]
];

var oldlines = [];

// three lines, and a code to tell us if this triangle points up (0) or down (1), which is used for shading.
var triangles = [
    [0,1,2,0]
];

var angle = 20;
var theta = (2*3.1415) * angle / 360.0;
var alpha = (3.1415/2) - theta;
var round = 0;
var bumpy = 200;

var runs = 2;
var water = false;

function update(thelines) {

    d3.selectAll("line").remove();

    var svgLines = svgContainer.selectAll("line")
                              .data(thelines)
                              .enter()
                              .append("line");

    var svgLineAttributes = svgLines
                            .attr("x1",function(d) {return points[d[0]][0]; })
                            .attr("y1", function(d) {return findElevation(points[d[0]]); })
                            .attr("x2",function(d) {return points[d[1]][0]; })
                            .attr("y2", function(d) {return findElevation(points[d[1]]); })
                            .attr("stroke-width", 2)
                            .attr("stroke", "black");                        

}

function pathdata(t) {
    l1 = lines[t[0]];
    l2 = lines[t[1]];
    l3 = lines[t[2]];

    p1 = points[l1[0]];
    p2 = points[l2[0]];
    p3 = points[l3[0]];

    d = "M " + p1[0] + " " + (theheight - findElevation(p1)) + " ";
    d += "L " + p2[0] + " " + (theheight - findElevation(p2)) + " ";
    d += "L " + p3[0] + " " + (theheight - findElevation(p3)) + " ";
    d += "L " + p1[0] + " " + (theheight - findElevation(p1));

    return d;
}


// 1 if type == 1 and p3 is high OR type == 0 and p1 is low
// 2 if type == 0 and p3 is high or type == 1 and p1 is low
// 3 if type == 1 and p2 is high or type == 0 and p2 is low
// 4 if type == 0 and p1 is high or type == 1 and p3 is low
// 5 if type == 1 and p1 is high or type == 0 and p3 is low
// 6 if type == 0 and p2 is high or type == 1 and p2 is low
function figuretilt(t) {

    type = t[3];
    l1 = lines[t[0]];
    l2 = lines[t[1]];
    l3 = lines[t[2]];
    p1 = points[l1[0]]
    p2 = points[l2[0]]
    p3 = points[l3[0]]
    p1z = p1[2];
    p2z = p2[2];
    p3z = p3[2];
    aveheight = (p1z + p2z + p3z) / 3;

    dir = 0;

    if (dir == 0 && type == 1 && p3z >= aveheight) { dir = 1};
    if (dir == 0 && type == 1 && p2z >= aveheight) { dir = 3};
    if (dir == 0 && type == 1 && p1z >= aveheight) { dir = 5};
    if (dir == 0 && type == 1 && p1z <= aveheight) { dir = 2};
    if (dir == 0 && type == 1 && p3z <= aveheight) { dir = 4};
    if (dir == 0 && type == 1 && p2z <= aveheight) { dir = 6};

    if (dir == 0 && type == 0 && p3z >= aveheight) { dir = 2};
    if (dir == 0 && type == 0 && p1z >= aveheight) { dir = 4};
    if (dir == 0 && type == 0 && p2z >= aveheight) { dir = 6};
    if (dir == 0 && type == 0 && p1z <= aveheight) { dir = 1};
    if (dir == 0 && type == 0 && p2z <= aveheight) { dir = 3};
    if (dir == 0 && type == 0 && p3z <= aveheight) { dir = 5};

    console.log("dir:"+dir+" type:"+type+" p1z:"+p1z+" p2z:"+p2z+" p3z:"+p3z+" aveheight:"+aveheight);

    return dir;
}

var thecolors = [
    d3.rgb(255,0,0),
    d3.rgb(20,20,20),
    d3.rgb(100,100,100),
    d3.rgb(200,200,200),
    d3.rgb(200,200,200),
    d3.rgb(100,100,100),
    d3.rgb(20,20,20)
];
console.log(thecolors);

function fillcolor(t) {
    l1 = lines[t[0]];
    l2 = lines[t[1]];
    l3 = lines[t[2]];

    p1 = points[l1[0]];
    p2 = points[l2[0]];
    p3 = points[l3[0]];

    underwater = water && p1[2] <= 0 && p2[2] <= 0 && p3[2] <= 0;


    aveheight = (p1[2] + p2[2] + p3[2]) / 3;

    color = d3.rgb(0,0,255);

    tilt = figuretilt(t);

    if (!underwater) {
        color = thecolors[tilt];
    }

    return color;
}

function updateTri(thetriangles) {

    // console.log(thetriangles.length+" tris");
    d3.selectAll("path").remove();

    var svgPaths = svgContainer.selectAll("path")
                              .data(thetriangles)
                              .enter()
                              .append("path");

    var svgPathAttributes = svgPaths
                            .attr("d", function(d) { return pathdata(d); })
                            .attr("stroke-width", 1)
                            .attr("stroke", "black")
                            .attr("fill", function(d) { return fillcolor(d); });
                

}



function findElevation(thep) {
    y = thep[1];
    z = thep[2];
    if (z < 0) {
        z=0;
    }

    p = z / Math.sin(alpha);
    q = z / Math.tan(alpha);
    r = y - q;

    s = r * Math.sin(theta);

    t = p + s;
    return t;
}

function splitTri() {
    newtri = [];

    splitLines();
    round += 1;

    // walk through the triangles, and for each one, replace it with four
    triangles.forEach(function(d) {
        ml1 = oldlines[d[0]];
        ml2 = oldlines[d[1]];
        ml3 = oldlines[d[2]];

        // figure out the short lines
        l1 = ml1[2];
        l2 = ml1[3];
        l3 = ml2[2];
        l4 = ml2[3];
        l5 = ml3[2];
        l6 = ml3[3];

        // now we have to make new lines for the middle tri
        l7 = lines.push( [lines[l1][1], lines[l6][0], -1, -1, false] ) - 1;
        l8 = lines.push( [lines[l6][0], lines[l3][1], -1, -1, false] ) - 1;
        l9 = lines.push( [lines[l3][1], lines[l2][0], -1, -1, false] ) - 1;

        // now push four new triangles
        mydir = d[3];

        newtri.push( [l1,l7,l6, mydir] );
        newtri.push( [l2,l3,l9, mydir] );
        newtri.push( [l4,l5,l8, mydir] );
        newtri.push( [l7,l8,l9, 1-mydir] );
    });

    // newtri.sort(function(a,b) {
    //     l1a = lines[a[0]]
    //     p1a = points[l1a[0]]
    //     y1a = p1a[1]

    //     l1b = lines[b[0]]
    //     p1b = points[l1b[0]]
    //     y1b = p1b[1]

    //     return y1b - y1a;

    // });


    triangles = newtri;
}

// walk through the lines and replace them with new lines that are shorter.
function splitLines() {

    oldlines = lines;
    lines = [];

    oldlines.forEach(function(l) {
        
        p1 = points[l[0]];
        p2 = points[l[1]];
        p3 = points[l[2]];
        newx = (p1[0] + p2[0])/2;
        newy = (p1[1] + p2[1])/2;

        if (l[4]) {
            // it's an edge
            p = 0;
        } else {
            b = bumpy / Math.pow(1.5,round);
            p = (b / 2) - (Math.random() * (bumpy / Math.pow(1.5,round)));
        }

        // p = 20 / Math.pow(1.5,round);


        newz = (p1[2] + p2[2])/2 + p;

        newp = [newx, newy, newz];
        newpi = points.push(newp) - 1;

        newl1 = [l[0], newpi,-1,-1,l[4]];
        newl2 = [newpi, l[1],-1,-1,l[4]];

        newl1i = lines.push(newl1) - 1;
        newl2i = lines.push(newl2) - 1;

        l[2] = newl1i;
        l[3] = newl2i;

    })
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function runit() {
    // updateTri(triangles);
    // await sleep(200);

    for (var i = 0; i < runs; i++) {
        update([]);
        splitTri();
        // update(lines);
        // updateTri(triangles);
        // await sleep(200);
    }

    updateTri(triangles);
}

runit();

    });

  </script>
</html>
