<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
  </body>
  <script>

    document.addEventListener("DOMContentLoaded", function(e) {


var thewidth=500;
var theheight=500;

var svgContainer = d3.select("body").append("svg")
                                    .attr("width", thewidth)
                                    .attr("height", theheight)
                                    .style("border", "1px solid black");


var points = [
    [0,0],
    [thewidth,0],
    [thewidth / 2, (theheight/Math.sqrt(2))]
];

// indices for the two points, then indices of the two lines that split this one, then index of that midpoint
var lines = [
    [0,1,-1,-1],
    [1,2,-1,-1],
    [2,0,-1,-1]
];

var oldlines = [];

var triangles = [
    [0,1,2]
];

var theta = (2*3.1415) * 10/ 360;

function update(lines) {

    var svgLines = svgContainer.selectAll("line")
                              .data(lines)
                              .enter()
                              .append("line");

    var svgLineAttributes = svgLines
                            .attr("x1",function(d) {return points[d[0]][0]; })
                            .attr("y1", function(d) {return theheight - (Math.tan(theta) * points[d[0]][1]); })
                            .attr("x2",function(d) {return points[d[1]][0]; })
                            .attr("y2", function(d) {return theheight - (Math.tan(theta) * points[d[1]][1]); })
                            .attr("x1",function(d) {return points[d[0]][0]; })
                            .attr("y1", function(d) {return theheight - ( points[d[0]][1]); })
                            .attr("x2",function(d) {return points[d[1]][0]; })
                            .attr("y2", function(d) {return theheight - ( points[d[1]][1]); })
                            .attr("stroke-width", 2)
                            .attr("stroke", "black");                        

}

function splitTri() {
    newtri = [];

    splitLines();

    // walk through the triangles, and for each one, replace it with four
    triangles.forEach(function(d) {
        ml1 = oldlines[d[0]];
        ml2 = oldlines[d[1]];
        ml3 = oldlines[d[2]];

        // figure out the short lines
        l1 = ml1[2];
        l2 = ml1[3];
        l3 = ml2[2];
        l4 = ml2[3];
        l5 = ml3[2];
        l6 = ml3[3];

        // now we have to make new lines for the middle tri
        l7 = lines.push( [lines[l1][1], lines[l6][0], -1, -1] ) - 1;
        l8 = lines.push( [lines[l6][0], lines[l3][1], -1, -1] ) - 1;
        l9 = lines.push( [lines[l3][1], lines[l2][0], -1, -1] ) - 1;

        // now push four new triangles
        newtri.push( [l1,l7,l6] );
        newtri.push( [l2,l3,l8] );
        newtri.push( [l4,l5,l9] );
        newtri.push( [l7,l8,l9] );
    });

    triangles = newtri;
}

// walk through the lines and replace them with new lines that are shorter.
function splitLines() {

    oldlines = lines;
    lines = [];

    oldlines.forEach(function(l) {
        
        p1 = points[l[0]];
        p2 = points[l[1]];
        newx = (p1[0] + p2[0])/2;
        newy = (p1[1] + p2[1])/2;
        newp = [newx, newy];
        newpi = points.push(newp) - 1;

        newl1 = [l[0], newpi,-1,-1];
        newl2 = [newpi, l[1],-1,-1];

        newl1i = lines.push(newl1) - 1;
        newl2i = lines.push(newl2) - 1;

        l[2] = newl1i;
        l[3] = newl2i;

    })
}


splitTri();
splitTri();
splitTri();
update(lines);
console.log(lines.length);

    });

  </script>
</html>
